{% extends 'account/base.html' %}

{% block title %}SB Admin 2 - Password Reset Done{% endblock %}

{% block container %}
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h2>Password Reset Sent</h2>
                                    <p>An email has been sent to reset your password. Please check your inbox.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}