{% extends 'account/base.html' %}

{% block title %}Set Password{% endblock %}

{% block container %}
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Enter New Password</h1>
                                </div>
                                <form method="post">
                                    {% csrf_token %}

                                    <!-- 각 필드를 개별적으로 렌더링 -->
                                    <div class="form-group">
                                        {{ form.new_password1.label_tag }}
                                        {{ form.new_password1 }}
                                    </div>

                                    <span class="helptext">
                                        <ul>
                                            <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                                            <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                                            <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                                            <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
                                        </ul>
                                    </span>

                                    <div class="form-group">
                                        {{ form.new_password2.label_tag }}
                                        {{ form.new_password2 }}
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">Set New Password</button>
                                    
                                    <!-- 모든 오류 메시지 버튼 아래에 표시 -->
                                    {% if form.errors %}
                                        <div class="alert alert-danger mt-3">
                                            <ul class="mb-0" style="list-style-type: none;">
                                                {% for field, errors in form.errors.items %}
                                                    {% for error in errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
{% block js %}
    <script>
        console.log(`{{ form.as_p|safe }}`);
    </script>
{% endblock %}