{% load static %}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    {% comment %} <!-- Topbar Search -->
    <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form> {% endcomment %}

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        {% comment %} <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li> {% endcomment %}

        <!-- Nav Item - Alerts -->
        {% if username %}
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter" id="notification-count">
                </span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Alerts Center
                </h6>
                <div id="notifications-list"></div>
            </div>
        </li>
        {% endif %}

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            {% if request.user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                    {% if profile_image %}
                    <img class="img-profile rounded-circle"
                        src="{{ profile_image.url }}">
                    {% else %}
                    <img class="img-profile rounded-circle"
                        src="{% static 'img/default.svg' %}">
                    {% endif %}
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'account:update_profile' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    {% comment %} <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'main:get_all_notifications' %}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        All Notifications
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            {% else %}
                <!-- 로그인되지 않은 경우 - 로그인 버튼으로 변경 -->
                <a class="nav-link" href="{% url 'account:login' %}">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            {% endif %}
        </li>

    </ul>

</nav>

{% block js %}
<script>
    {% if username %}
    function fetchNotifications() {
        fetch("{% url 'main:get_unread_notifications' %}", {
            method: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.notifications) {
                const notificationsList = document.getElementById("notifications-list");
                notificationsList.innerHTML = ""; // 기존 알림 목록 초기화
                if (data.notifications.length != 0) {
                    notificationsList.innerHTML += `<button class="btn btn-link btn-sm text-primary float-right" onclick="markAllNotificationsAsRead()">모두 읽기</button>`
                }else{
                    notificationsList.innerHTML += `
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="text-center text-muted">알림이 없습니다.</div>
                    </a>`;
                }
                data.notifications.forEach(notification => {
                    const notificationItem = `
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);" onclick="markNotificationAsRead(${notification.id}, this)">
                            <div class="mr-3">
                                <div class="icon-circle ${notification.is_read ? 'bg-secondary' : 'bg-primary'}">
                                    ${getIcon(notification.icon)}
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">${notification.created_at}</div>
                                <span class="font-weight-bold">${notification.title}</span>
                            </div>
                        </a>
                    `;
                    notificationsList.innerHTML += notificationItem;
                });

                // 알림 개수 업데이트
                const notificationCount = document.getElementById("notification-count");
                notificationCount.textContent = data.count;
            }
        })
        .catch(error => console.error("Error fetching notifications:", error));
    }

    function getIcon(iconType) {
        switch (iconType) {
            case "info":
                return '<i class="fas fa-info-circle text-white"></i>';
            case "alert":
                return '<i class="fas fa-exclamation-triangle text-warning"></i>';
            case "deposit":
                return '<i class="fas fa-dollar-sign text-success"></i>';
            case "warning":
                return '<i class="fas fa-exclamation-circle text-danger"></i>';
            case "success":
                return '<i class="fas fa-check-circle text-success"></i>';
            default:
                return '<i class="fas fa-file-alt text-white"></i>';
        }
    }

    // 10초마다 fetchNotifications 함수 호출
    setInterval(fetchNotifications, 500);

    // 페이지 로드 시 즉시 알림을 가져옴
    document.addEventListener("DOMContentLoaded", fetchNotifications);
    {% endif %}

    function markNotificationAsRead(notificationId, element) {
        fetch(`/notifications/read/${notificationId}/`, {
            method: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // 알림을 읽은 상태로 표시하고 UI에서 제거
                element.style.display = "none";
            } else {
                alert("Failed to mark notification as read.");
            }
        })
        .catch(error => console.error("Error:", error));
    }

    function markAllNotificationsAsRead() {
        fetch("{% url 'main:mark_all_as_read' %}", {
            method: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // 모든 알림이 읽음으로 처리되었을 때, UI 업데이트
                fetchNotifications(); // 새로운 알림 상태를 업데이트하기 위해 호출
            } else {
                alert("Failed to mark all notifications as read.");
            }
        })
        .catch(error => console.error("Error:", error));
    }
</script>
{% endblock %}