{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Edit Feedback{% endblock %}

{% block container %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">Edit Feedback</h2>
        <a href="{% url 'feedback:feedback_list' %}" class="btn btn-secondary">Back to Feedback List</a>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <!-- 기존 form 필드를 불러오도록 form 객체 사용 -->
                <div class="form-group">
                    <label for="title">Title</label>
                    {{ form.title|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    {{ form.content|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                <a href="{% url 'feedback:feedback_detail' feedback.id %}" class="btn btn-secondary mt-3">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}